asgiref
attrs
Django
django-cors-headers
django-rest-framework
django-storages
djangorestframework
drf-yasg
et-xmlfile
holidays
inflection
jsonschema
jsonschema-specifications
numpy
openpyxl
packaging
pandas
pillow
psycopg2
python-dateutil
pytz
PyYAML
referencing
rpds-py
setuptools
six
sqlparse
swagger-spec-validator
typing_extensions
tzdata
uritemplate
xlrd